@model CrudCreateEditViewModel<Species>
@{
    Layout = "_LayoutCrudCreateEdit";

    ViewData["LayoutModel"] = new CrudLayoutViewModel 
    {
        EntityName         = "Species",
        EntityId           = Model.Entity?.SpeciesId,
        EntityIdExpression = "Entity.SpeciesId"
    };

    var action = (Model.IsCreate) ? "Create" : "Edit";
}

@section MainWindowForm {
    <input type="hidden" asp-for="Entity.SpeciesId" value="@(Model.Entity?.SpeciesId ?? -1)" />
    <div class="required input-wrapper">
        <label>Name</label>
        <textbox :mode="mode" asp-for="Entity.Name" placeholder="Name" required/>
    </div>
    <div class="required input-wrapper">
        <label>Gestration (Days)</label>
        <textbox type="number" :mode="mode" asp-for="Entity.GestrationPeriod" timespan="Days" required></textbox>
    </div>
    <alert type="error" fm-model-error="true"></alert>
    <button class="top margined blue fluid"
            v-if="mode === 'edit'">
        @action Species
    </button>
}

@section PostMainWindow {
    @if (!Model.IsCreate)
    {
        <window title="Notes">
            <notes :mode="mode"
                   parent-type="species"
                   :parent-id="Number('@Model.Entity.SpeciesId')">
            </notes>
        </window>
    }
}