@model AnimalGroupIndexViewModel
@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Animal Groups";
    ViewData["Breadcrumb"] = new Dictionary<string, string>()
    {
        { "Home", "/" },
        { "Animal Groups", "/AnimalGroup/" }
    };
}

<section class="editor section">
    <section>
        <div class="content">
            <div class="top padded items">
                <a class="ui primary button" asp-action="Create">Create New Animal Group</a>
            </div>
            <vc:paged-table table-id="tableIndex"
                            headers="Name,Description"
                            page-name="animalGroups"
                            controller="AnimalGroup"
                            action-delete="Delete"
                            action-edit="Edit"/>
        </div>
    </section>
</section>

@section Scripts {
    <script type="module">
        import { PagedTable } from "/js/index.js";

        new PagedTable(
            "tableIndex",
            `query Get($skip: Int, $take: Int) {
                animalGroups(skip: $skip, take: $take) {
                    id
                    name
                    description
                }
            }`,
            data => data.animalGroups.map(g => { return { id: g.id, items: [g.name, g.description] }; })
        );
    </script>
}