.input-wrapper {
  display: flex;
  width: 100%;
}
.input-wrapper + * {
  padding-top: 1em;
}
.input-wrapper label {
  display: flex;
  font-weight: bold;
  font-size: 15px;
}
.input-wrapper.inline label {
  flex-direction: column;
  align-self: center;
  min-width: 10%;
}
.input-wrapper.inline label + input, .input-wrapper.inline label + .input {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.input-wrapper:not(.inline) {
  flex-wrap: wrap;
}
.input-wrapper:not(.inline) label {
  flex-direction: row;
  width: 100%;
}
.input-wrapper:not(.inline) label + * {
  margin-top: 1em;
}
.input-wrapper:not(.inline) label + input, .input-wrapper:not(.inline) label + .input {
  display: flex;
  width: 100%;
}

button {
  height: 40px;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  border: none;
  border-radius: 5px;
  background-color: #d9d9d9;
  cursor: pointer;
  transition: background-color ease 0.25s;
  color: #404040;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}
button:hover {
  background-color: #cccccc;
  color: #333333;
}
button:active {
  background-color: #bfbfbf;
  color: #262626;
}
button:focus, button::-moz-focus-inner {
  outline: none;
  border: 0;
}