.input-wrapper {
  display: flex;
  width: 100%;
}
.input-wrapper + .input-wrapper {
  padding-top: 1em;
}
.input-wrapper label {
  display: flex;
  font-weight: bold;
  font-size: 15px;
}
.input-wrapper.inline label {
  flex-direction: column;
  align-self: center;
  min-width: 10%;
}
.input-wrapper.inline label + input, .input-wrapper.inline label + .input {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.input-wrapper:not(.inline) {
  flex-wrap: wrap;
}
.input-wrapper:not(.inline) label {
  flex-direction: row;
  width: 100%;
}
.input-wrapper:not(.inline) label + * {
  margin-top: 1em;
}
.input-wrapper:not(.inline) label + input, .input-wrapper:not(.inline) label + .input {
  display: flex;
  width: 100%;
}

button {
  height: 40px;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color ease 0.25s;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  background-color: #d9d9d9;
  color: #404040;
}
button:focus, button::-moz-focus-inner {
  outline: none;
  border: 0;
}
button:disabled {
  cursor: auto;
}
button:not(:disabled):hover {
  background-color: #cccccc;
  color: #333333;
}
button:not(:disabled):active {
  background-color: #bfbfbf;
  color: #262626;
}
button:disabled {
  background-color: #e0e0e0;
  color: gray;
}
button.blue {
  background-color: #c5d5ed;
  color: #1f3961;
}
button.blue:not(:disabled):hover {
  background-color: #b1c7e7;
  color: #182e4e;
}
button.blue:not(:disabled):active {
  background-color: #9eb9e0;
  color: #12223a;
}
button.blue:disabled {
  background-color: #d0ddf0;
  color: #3d72c2;
}

.top.margined {
  margin-top: 1em;
}