input.farm-master {
  height: 40px;
  font-size: 16px;
  padding-left: 1em;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 2%;
  transition: color ease 0.3s;
  color: #666666;
}
input.farm-master:focus {
  border-color: #4545db;
  color: #1a1a1a;
  transition: border-color ease 0.3s;
}