input[type=text].farm-master, input[type=password].farm-master {
  height: 40px;
  font-size: 14px;
  padding-left: 1em;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 2%;
  transition: border-color ease 0.3s;
  transition: color ease 0.3s;
  color: #666666;
}
input[type=text].farm-master:focus, input[type=password].farm-master:focus {
  border-color: blue;
  color: #1a1a1a;
}