html {
  height: 100%;
}

a {
  text-decoration: none;
  color: #393bcf;
}
a:hover {
  text-decoration: underline;
}

body {
  font-size: 18px;
  margin: 0;
  display: flex;
  font-family: Lato, sans-serif;
  min-height: 100%;
}
body > aside {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 250px;
  min-height: 100vh;
  background-color: #1a727b;
  color: white;
}
body > aside.collapsed {
  min-width: 0;
  width: 0;
  transition: width ease 1s;
  transition: min-width ease 1s;
}
body > aside > h1 {
  display: flex;
  align-self: center;
  font-size: 28px;
}
body > aside > section {
  display: flex;
  flex-direction: column;
}
body > aside > section > header {
  padding-left: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #c5c3c6;
  font-size: 16px;
}
body > aside > section > a {
  display: flex;
  text-decoration: none;
}
body > aside > section > a > .indicator {
  width: 5px;
  height: 40px;
}
body > aside > section > a:hover, body > aside > section > a.active {
  background-color: #1d636a;
}
body > aside > section > a:hover > .indicator, body > aside > section > a.active > .indicator {
  background-color: #801414;
}
body > aside > section > a > img {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 25px;
  height: 25px;
}
body > aside > section > a > span {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  padding-left: 1.5em;
  margin-right: -5em;
  margin-top: 0.04em;
  text-transform: capitalize;
  color: #b4e5ea;
}
body > .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body > .wrapper > header {
  display: flex;
  width: 100%;
  min-height: 60px;
}
body > .wrapper > header > .aside.toggle {
  min-width: 60px;
  height: 100%;
  background-color: #165e66;
  cursor: pointer;
}
body > .wrapper > header > .aside.toggle > i {
  margin-left: 0.2em;
  margin-top: 0.2em;
  color: white;
  font-size: 40px;
}
body > .wrapper > header > .breadcrumb {
  width: 33%;
  height: 100%;
  display: flex;
  margin-left: 1em;
}
body > .wrapper > header > .breadcrumb > .crumb {
  margin: auto 0;
  font-size: 22px;
  text-decoration: none;
  color: inherit;
}
body > .wrapper > header > .breadcrumb > .crumb + .crumb::before {
  content: ">";
  padding-left: 0.3em;
  font-size: 26px;
}
body > .wrapper > header > .profile {
  width: 67%;
  height: 100%;
  display: flex;
  justify-content: end;
  font-family: Roboto, sans-serif;
}
body > .wrapper > header > .profile > .name {
  margin: auto 0;
  margin-right: 1em;
}
body > .wrapper > header > .profile > .name > a {
  color: inherit;
  text-decoration: none;
}
body > .wrapper > header > .profile > a {
  margin: auto 0;
  margin-right: 0.5em;
  font-size: 32px;
  text-decoration: none;
}
body > .wrapper > main {
  display: flex;
  flex-direction: column;
  background-color: #EEE;
  height: 100%;
  width: 100%;
}
body > .wrapper > main > .wrapper {
  margin-top: 1.4em;
  margin-left: 1.2em;
  margin-right: 1.2em;
}