html {
    font-size: 14px;
}

body {
    background-color: #DADADA;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    html *.hide.mobile {
        display: none;
    }
}

html * [class*="top one padded"] {
    padding-top: 1em;
}

html * [class*="bottom one padded"] {
    padding-bottom: 1em;
}

.left.one.padded {
    padding-left: 1em;
}

.left.zero.half.padded {
    padding-left: 0.5em;
}

html * [class*="display none"] {
    display: none !important;
}

/* Stuff to get the footer to stick to the bottom */
main {
    padding-bottom: 60px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}