@model CrudIndexViewModel<Breed>
@{
    ViewData["Title"] = "Breed";
    ViewData["NavName"] = "Breed";
    ViewData["Breadcrumb"] = (new Breadcrumb()).Add("Breed", "/Breed").Add("Index", "/Breed");
}

<div id="app">
    <window title="Breed">
        <a class="bottom margined icon blue button" asp-action="Create">
            <i class="las la-plus"></i>
            <span>Create new breed</span>
        </a>
        <fm-graphql-table selection="none"
                          :rows="[{name: 'Name', bind: 'name', sort: true, sortByDefault: 'asc'}, {name: 'Species', bind: 'species.name', sort: true}]"
                          query-root="breeds"
                          items-query="id name species { id name }"
                          @@transformhook="onTransformTable">
        </fm-graphql-table>
    </window>
</div>

@section Scripts {
    <script>
        new Vue({
            el: "#app",
            methods: {
                onTransformTable(items) {
                    for (const item of items) {
                        item.name = { value: item.name, href: "/Breed/Edit?id=" + item.id };
                        item.species.name = { value: item.species.name, href: "/Species/Edit?id=" + item.species.id };
                    }
                }
            }
        });
    </script>
}