@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Edit Group Scripts";
    ViewData["Breadcrumb"] = new Dictionary<string, string>()
    {
        { "Home", "/" },
        { "Group Script", "/GroupScript/Editor" }
    };
}

<partial name="_ViewModelWithMessagePartial" model="@Model" />
<partial name="_ModalAreYouSure_NoUndo" />

<section class="editor section">
    <section>
        <h4>Editor</h4>
        <div class="content">
            <partial name="_AnimalGroupScriptEditor" model="@(new AnimalGroupScriptEditorCreateEditViewModel())" />
        </div>
    </section>
</section>