@model AdminSettingsViewModel
@{
    ViewData["Title"] = "Settings";
    ViewData["NavName"] = "settings";
}

<div id="app">
    <window title="Email Settings">
        @if(Model.EmailError != null)
        {
            <alert class="bottom margined" type="error" show>
                <header>Error when updating settings!</header>
                <p>
                    @Model.EmailError
                </p>
            </alert>
        }
        <form method="post" asp-action="Email">
            <div class="input-wrapper inline">
                <label>Server</label>
                <textbox asp-for="Email.Smtp.Server" placeholder="smtp.gmail.com"></textbox>
            </div>
            <div class="input-wrapper inline">
                <label>Port</label>
                <textbox asp-for="Email.Smtp.Port" placeholder="465"></textbox>
            </div>
            <div class="input-wrapper inline">
                <label>Username</label>
                <textbox asp-for="Email.Smtp.Username" placeholder="andy@aimeducational.org"></textbox>
            </div>
            <div class="input-wrapper inline">
                <label>Password</label>
                <textbox asp-for="Email.Smtp.Password" value="" type="password" placeholder="goats 'r' us"></textbox>
            </div>
            <alert type="info" show>
                <header>Take note!</header>
                <p>
                    This particular password is currently stored in plain text on the database.
                </p>
            </alert>
            <button class="top margined fluid blue" type="submit">Update Email Settings</button>
        </form>
    </window>

    <window title="Test Email">
        <p>
            Send a test email to the address registered on your account.
        </p>
        <button class="top margined" onclick="document.location = '/Admin/TestEmail'">
            Send test email
        </button>
    </window>
</div>

@section Scripts {
    <script>
        new Vue({
            el: "#app"
        });
    </script>
}