@model IEnumerable<Breed>
@{
    Layout = null;
}

@foreach(var breed in Model.ToList())
{
    <tr>
        <td>@breed.Name</td>
        <td>@breed.Species.Name</td>
        <td>
            <section class="ui two buttons">
                <button class="ui inverted tiny secondary left button" onclick="window.location='/SpeciesBreed/EditBreed/@breed.BreedId'">
                    Edit
                </button>
                <div class="or divider"></div>
                <button class="ui inverted tiny secondary right button" onclick="window.location='/SpeciesBreed/DeleteBreed/@breed.BreedId'">
                    Delete
                </button>
            </section>
        </td>
    </tr>
}