@model IEnumerable<Species>
@{
    Layout = null;
}

@foreach(var species in Model.ToList())
{
    <tr>
        <td>@species.Name</td>
        <td>
            <section class="ui two buttons">
                <button class="ui inverted tiny secondary left button" onclick="window.location='/SpeciesBreed/EditSpecies/@species.SpeciesId'">
                    Edit
                </button>
                <div class="or divider"></div>
                <button class="ui inverted tiny secondary right button" onclick="window.location='/SpeciesBreed/DeleteSpecies/@species.SpeciesId'">
                    Delete
                </button>
            </section>
        </td>
    </tr>
}