@model BreedCreateViewModel
@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Create Breed";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Home", "/Home/Index" },
        { "Species & Breeds", "/SpeciesBreed/Index"},
        { "Create Breed", "/SpeciesBreed/CreateBreed" }
    };
}

<section class="editor section">
    <section>
        <h4>Information</h4>
        <div class="content">
            <form class="ui form" method="post" asp-action="CreateBreed">
                <div class="field">
                    <label>Name</label>
                    <input asp-for="Name" placeholder="Name" />
                </div>
                <vc:dropdown asp-for="SpeciesId"
                             default-value="-1"
                             dropdown-id="inputSpecies"
                             goto-action="Index"
                             goto-controller="SpeciesBreed"
                             is-multiple-select="false"
                             label="Species"/>
                <vc:dropdown asp-for="BreedSocietyContactId"
                             default-value="-1"
                             dropdown-id="inputBreedSociety"
                             goto-action="Index"
                             goto-controller="Contact"
                             is-multiple-select="false"
                             label="Breed Society" />
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" asp-for="IsRegisterable" />
                        <label>Breed can be registered?</label>
                    </div>
                </div>

                <partial name="_ViewModelWithMessagePartial" model="Model" />
                <div asp-validation-summary="All"></div>

                <button class="ui primary fluid button" type="submit">Create Breed</button>
            </form>
        </div>
    </section>
</section>

@section Scripts {
    <script type="module">
        import { Dropdown, Validation } from "/js/index.js"

        $(".ui.dropdown").dropdown();
        $(".ui.checkbox").checkbox();

        Validation.hookupForm(document.querySelector(".ui.form"));

        (new Dropdown("inputSpecies")).fromSpeciesGraphQL();
        (new Dropdown("inputBreedSociety")).fromContactGraphQL();
    </script>
}