@model BreedCreateViewModel
@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Create Breed";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Home", "/Home/Index" },
        { "Species & Breeds", "/SpeciesBreed/Index"},
        { "Create Breed", "/SpeciesBreed/CreateBreed" }
    };
}

<section class="editor section">
    <section>
        <h4>Information</h4>
        <div class="content">
            <form class="ui form" method="post" asp-action="CreateBreed">
                <div class="field">
                    <label>Name</label>
                    <input asp-for="Name" placeholder="Name" />
                </div>
                <div class="field">
                    <label>Species</label>
                    <div class="ui search selection dropdown">
                        <input id="inputSpecies" type="hidden" data-default-value="-1" asp-for="SpeciesId" />
                        <i class="dropdown icon"></i>
                        <div class="default text">Species</div>
                        <div class="menu">

                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Breed Society</label>
                    <div class="ui search selection dropdown">
                        <input id="inputBreedSociety" type="hidden" data-default-value="-1" asp-for="BreedSocietyContactId" />
                        <i class="dropdown icon"></i>
                        <div class="default text">Contacts</div>
                        <div class="menu">

                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" asp-for="IsRegisterable" />
                        <label>Breed can be registered?</label>
                    </div>
                </div>

                <partial name="_ViewModelWithMessagePartial" model="Model" />
                <div asp-validation-summary="All"></div>

                <button class="ui primary fluid button" type="submit">Create Breed</button>
            </form>
        </div>
    </section>
</section>

@section Scripts {
    <script type="module">
        import { ComponentSelect, Validation } from "/js/index.js"

        $(".ui.dropdown").dropdown();
        $(".ui.checkbox").checkbox();

        Validation.hookupForm(document.querySelector(".ui.form"));

        ComponentSelect.populateFromAjaxWithMessageResponse(
            document.getElementById("inputSpecies"),
            document.getElementById("divAllErrors"),
            "/SpeciesBreed/AjaxGetAllSpecies",
            null
        );

        ComponentSelect.populateFromAjaxWithMessageResponse(
            document.getElementById("inputBreedSociety"),
            document.getElementById("divAllErrors"),
            "/Contact/AjaxGetNameAndValueAll",
            null
        );
    </script>
}