@model SpeciesCreateViewModel
@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Create Species";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Home", "/Home/Index" },
        { "Species & Breeds", "/SpeciesBreed/Index" },
        { "Create Species", "/SpeciesBreed/CreateSpecies" }
    };
}

<section class="editor section">
    <section>
        <h4>Information</h4>
        <div class="content">
            <form class="ui form" method="post" asp-action="CreateSpecies">
                <section class="field">
                    <label>Name</label>
                    <input asp-for="Name" placeholder="Name" />
                </section>
                <section class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" asp-for="IsPoultry" />
                        <label>Species is poultry?</label>
                    </div>
                </section>

                <partial name="_ViewModelWithMessagePartial" model="Model" />
                <div asp-validation-summary="All"></div>

                <button class="ui fluid primary button" type="submit">Create Species</button>
            </form>
        </div>
    </section>
</section>

@section Scripts {
    <script type="module">
        import { Validation } from "/js/index.js";
        $(".ui.checkbox").checkbox();

        Validation.hookupForm(document.querySelector(".ui.form"));
    </script>
}