@model BreedEditViewModel
@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Edit Breed";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Home", "/Home/Index" },
        { "Species & Breeds", "/SpeciesBreed/Index" },
        { "Edit Breed", "#" }
    };
}

<partial name="_ModalAreYouSure_NoUndo" />

<section class="editor section">
    <section>
        <h4>Information</h4>
        <div class="content">
            <form class="ui form" method="post" asp-action="EditBreed">
                <input type="hidden" asp-for="Breed.BreedId" />
                <input type="hidden" asp-for="Breed.Timestamp" />
                <input type="hidden" asp-for="Breed.CharacteristicListId" />

                <div class="field">
                    <label>Name</label>
                    <input asp-for="Breed.Name" placeholder="Name" />
                </div>

                <div class="field">
                    <label>Species</label>
                    <div class="ui search selection dropdown">
                        <input id="inputSpecies" type="hidden" data-default-value="@Model.Breed.SpeciesId" asp-for="Breed.SpeciesId" />
                        <i class="dropdown icon"></i>
                        <div class="default text">Species</div>
                        <div class="menu">

                        </div>
                    </div>
                </div>
                <vc:dropdown
                    label="Breed Society"
                    asp-for="Breed.BreedSocietyId"
                    default-value="@Model.Breed.BreedSocietyId"
                    dropdown-id="selectSociety"
                    goto-action="Index"
                    goto-controller="Contact"
                >
                </vc:dropdown>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" asp-for="Breed.IsRegisterable" />
                        <label>Breed can be registered?</label>
                    </div>
                </div>

                <partial name="_ViewModelWithMessagePartial" model="Model" />
                <div asp-validation-summary="All"></div>

                <button class="ui fluid primary button" type="submit">Edit Breed</button>
            </form>
        </div>
    </section>
    <section>
        <h4>Characteristics</h4>
        <div class="content">
            <partial name="_ComponentCharacteristics" model='new ComponentCharacteristicsViewModel
            {
                AjaxListUrl = "/Ajax/Breed_ById_Characteristic_AsNameTypeValueInheritedId_All",
                AjaxAddUrl = "/Ajax/Breed_ById_Characteristic_Add",
                AjaxDeleteUrl = "/Ajax/Breed_ById_Characteristic_Delete_ById",
                EntityId = Model.Breed.BreedId
            }' />
        </div>
    </section>
</section>

@section Scripts {
    <script type="module">
        import { Dropdown, Validation } from "/js/index.js"

        $(".ui.dropdown").dropdown().dropdown("clear");
        $(".ui.checkbox").checkbox();
        $(".accordion").accordion();

        Validation.hookupForm(document.querySelector(".ui.form"));

        const selectSociety = new Dropdown("selectSociety");
        selectSociety.fromContactGraphQL();
    </script>
}