@model SpeciesBreedIndexViewModel
@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Species & Breeds";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Home", "/Home/Index" },
        { "Species & Breeds", "/SpeciesBreed/Index" }
    };
}

<partial name="_ViewModelWithMessagePartial" model="Model" />

<section class="ui centered stackable grid">
    <div class="two column row">
        <div class="column">
            <div class="ui center aligned attached header">
                <h2>Species</h2>
                <a class="ui fluid primary button" asp-action="CreateSpecies">Create</a>
                <br />
                <table id="tableSpecies" class="ui striped table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
                <div id="boxErrorSpecies" class="ui error message transition hidden"></div>
            </div>
        </div>
        <div class="column">
            <div class="ui center aligned attached header">
                <h2>Breeds</h2>
                <a class="ui fluid primary button" asp-action="CreateBreed">Create</a>
                <br />
                <table id="tableBreeds" class="ui striped table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Species</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
                <div id="boxErrorBreeds" class="ui error message transition hidden"></div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="module">
        import { ComponentTable } from "/js/index.js"

        ComponentTable.setupPagingTable(
            document.getElementById("boxErrorSpecies"),
            document.getElementById("tableSpecies"),
            "/SpeciesBreed/AjaxGetTablePageCount",
            "/SpeciesBreed/AjaxRenderTablePage",
            "Species"
        );
        ComponentTable.setupPagingTable(
            document.getElementById("boxErrorBreeds"),
            document.getElementById("tableBreeds"),
            "/SpeciesBreed/AjaxGetTablePageCount",
            "/SpeciesBreed/AjaxRenderTablePage",
            "Breed"
        );
    </script>
}