@model SpeciesBreedIndexViewModel
@{
    ViewData["Title"] = "Index - Species & Breeds";
    ViewData["Breadcrumb"] = new[]
    {
        "Home:/Home/Index",
        "Species & Breeds:/SpeciesBreed/Index"
    };
}

<partial name="_ViewModelWithMessagePartial" model="Model" />

<section class="ui centered stackable grid">
    <section class="two column row">
        <section class="column">
            <section class="ui center aligned attached header">
                <h2>Species</h2>
                <a class="ui fluid primary button" asp-action="CreateSpecies">Create</a>
            </section>
            <section class="ui attached segment">
                <table id="tableSpecies" class="ui celled table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
                <div id="boxErrorSpecies" class="ui error message transition hidden"></div>
            </section>
        </section>
        <section class="column">
            <section class="ui center aligned attached header">
                <h2>Breeds</h2>
                <a class="ui fluid primary button" asp-action="CreateBreed">Create</a>
            </section>
            <section class="ui attached segment">
                <table id="tableBreeds" class="ui celled table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Species</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
                <div id="boxErrorBreeds" class="ui error message transition hidden"></div>
            </section>
        </section>
    </section>
</section>

@section Scripts {
    <script>
        ComponentTable.setupPagingTable(
            document.getElementById("boxErrorSpecies"),
            document.getElementById("tableSpecies"),
            "/SpeciesBreed/AjaxGetTablePageCount",
            "/SpeciesBreed/AjaxRenderTablePage",
            "Species"
        );
        ComponentTable.setupPagingTable(
            document.getElementById("boxErrorBreeds"),
            document.getElementById("tableBreeds"),
            "/SpeciesBreed/AjaxGetTablePageCount",
            "/SpeciesBreed/AjaxRenderTablePage",
            "Breed"
        );
    </script>
}