@model RoleEditViewModel
@{
    ViewData["Title"] = "Edit - Role";
    ViewData["Breadcrumb"] = new[]
    {
        "Home:/Home/Index",
        "Roles:/Role/Index",
        "Edit:#"
    };

    const int CHECKBOXES_PER_ROW = 6;
}

<h1>Edit Role</h1>

<partial name="_ViewModelWithMessagePartial" model="Model" />
<form class="ui form" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Role.RoleId" />
    <input type="hidden" asp-for="Role.Timestamp" />

    <section class="field">
        <label>Name</label>
        <input asp-for="Role.Name" placeholder="Name" />
        <span class="@GlobalConstants.FormErrorClasses" asp-validation-for="Role.Name"></span>
    </section>

    <section class="field">
        <label>Description</label>
        <input asp-for="Role.Description" placeholder="Description" />
        <span class="@GlobalConstants.FormErrorClasses" asp-validation-for="Role.Description"></span>
    </section>

    <section class="field">
        <label>Hierarchy Order</label>
        <input asp-for="Role.HierarchyOrder" placeholder="Hierarchy Order" />
        <span class="@GlobalConstants.FormErrorClasses" asp-validation-for="Role.HierarchyOrder"></span>
    </section>

    <div id="divAllErrors" class="ui error message"></div>

    <h2 class="ui dividing header">Permissions</h2>
    @{int permsToSkip = 0;}
    @while (permsToSkip < Model.AllKnownPermissions.Count())
    {
        <section class="six inline fields">
            @foreach (var perm in Model.AllKnownPermissions.Skip(permsToSkip).Take(CHECKBOXES_PER_ROW))
            {
                <section class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" asp-for="Permissions[perm.InternalName]" />
                        <label>@perm.Description</label>
                    </div>
                </section>
                permsToSkip++;
            }
        </section>
    }

    <button class="ui primary fluid button" type="submit">Edit Role</button>
</form>

@section Scripts {
    <script>
        $(".ui.checkbox").checkbox();

        Validation.hookupForm(document.querySelector(".ui.form"));
    </script>
}