@{
    ViewData["Title"] = "Home Page";

    var cards = new List<(string Name, string Action, string Controller, string Image)>
    {
        ("Roles",               "Index",    "Role",         "/images/icons/default.png"),
        ("Contacts",            "Index",    "Contact",      "/images/icons/default.png"),
        ("Holdings",            "Index",    "Holding",      "/images/icons/default.png"),
        ("Species & Breeds",    "Index",    "SpeciesBreed", "/images/icons/default.png"),
        ("Life Events",         "Index",    "LifeEvent",    "/images/icons/default.png"),
        ("Animals",             "Index",    "Animal",       "/images/icons/default.png"),
        ("Profile(TEMP)",       "Profile",  "Account",      "/images/icons/default.png"),
        ("Animal Groups",       "Index",    "AnimalGroup",  "/images/icons/default.png"),
        ("Group Script",        "Editor",   "GroupScript",  "/images/icons/default.png")
    };
}

<section class="ui centered cards">
    @foreach(var card in cards)
    {
        <partial name="_CardLinkPartial" model="new HomeCardLinkPartialViewModel{ Name = card.Name, Action = card.Action, Controller = card.Controller, Image = card.Image }" />
    }
</section>