@{
    ViewData["Title"] = "Home Page";
}

<section class="ui cards">
    <partial name="_CardLinkPartial" model='new HomeCardLinkPartialViewModel{ Name = "Roles", Action = "Index", Controller = "Role", Image = "/images/icons/default.png" }' />
</section>