@model CrudIndexViewModel<Contact>
@{
    ViewData["Title"] = "Contacts";
    ViewData["NavName"] = "Contacts";
    ViewData["Breadcrumb"] = (new Breadcrumb()).Add("Contacts", "/Contact");
}

<div id="app">
    <window title="Contacts">
        <a class="bottom margined icon blue button" asp-action="Create">
            <i class="las la-plus"></i>
            <span>Create new contact</span>
        </a>
        <fm-value-table selection="none"
                        :rows="rows"
                        :values="values">
        </fm-value-table>
    </window>
</div>

@section Scripts {
    <script>
        new Vue({
            el: "#app",
            data: {
                rows: [
                    { name: "Name", bind: "name", sort: true },
                    { name: "Type", bind: "type", sort: true }
                ],
                values: [
                    @foreach(var contact in Model.Entities)
                    {
                        @:{ name: { value: "@contact.Name", href: "@Url.Action("Edit", "Contact", new { id = contact.ContactId })" }, 
                        @:  type: "@contact.Type"
                        @:},
                    }
                ]
            }
        });
    </script>
}