@model AccountFinaliseExternalLoginViewModel
@{
    ViewData["Title"] = "Finalise account";
}

<div id="app">
    <window title="Finalise account">
        <alert class="bottom margined" type="info" show>
            <header>Why?</header>
            <p>
                Not all providers pass back the information we need, so you'll have to fill in the gaps for us.
            </p>
        </alert>
        <form method="post" asp-action="FinaliseExternalLogin">
            <div class="input-wrapper">
                <label>Email</label>
                <textbox asp-for="Email" placeholder="andy@goatfarmers.co.uk"></textbox>
            </div>
            <div class="input-wrapper">
                <label>Username</label>
                <textbox asp-for="Username" placeholder="Username"></textbox>
            </div>
            <alert asp-for-error="true">
                <header>Error finalising account</header>
            </alert>
            <button class="top margined fluid blue" type="submit">Register</button>
        </form>
    </window>
</div>

@section Scripts {
    <script>
        new Vue({
            el: "#app"
        });
    </script>
}