@model AccountForgotPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    ViewData["WhichPage"] = String.Empty;
    Layout = "_LoginFormLayout";
}

<h4 style="display: flex;">
    <!--For some reason, left-aligns it in this case-->
    Forgotten Password
</h4>
<div class="bottom one padded"></div>

<partial name="_ViewModelWithMessagePartial" model="@Model" />

<form class="ui form" method="post">
    <div class="field">
        <div class="ui left icon input">
            <i class="user icon"></i>
            <input asp-for="Username" placeholder="Username" />
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="mail icon"></i>
            <input asp-for="Email" placeholder="Email address" />
        </div>
    </div>

    <button class="ui large primary fluid button" type="submit">Reset Password</button>
</form>

@section Scripts {
    <script type="module">
        import { Validation } from "/js/index.js";
        Validation.hookupForm(document.querySelector(".ui.form"));
    </script>
}