@model AccountLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div id="app">
    <window title="Login">
        <form method="post" asp-action="Login">
            <div class="input-wrapper">
                <label>Username</label>
                <textbox fm-model="Username" placeholder="Username"></textbox>
            </div>
            <div class="input-wrapper">
                <label>Password</label>
                <textbox fm-model="Password" type="password" placeholder="Password"></textbox>
            </div>
            <div class="top margined flex-wrapper">
                <label>Remember me</label>
                <input type="checkbox" asp-for="RememberMe" />
            </div>
            <alert fm-model-error="true">
                <header>Error logging in</header>
            </alert>
            <a class="top padded" href="/Identity/Account/ForgotPassword">
                Forgotten your password?
            </a>
            <button class="top margined fluid blue" type="submit">Login</button>
        </form>
    </window>
</div>

@section Scripts {
    <script>
        new Vue({
            el: "#app"
        });
    </script>
}