
@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Profile";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Home", "/Home/Index" },
        { "Profile", "#" }
    };
}

<div id="modalDownload" class="ui modal">
    <div class="content">
        <div class="ui visible info message">
            <h3>This process might take a while</h3>
            <p>
                The download will start automatically once your data is ready.
            </p>
        </div>
    </div>
    <div class="actions">
        <div class="ui primary cancel button">
            Ok
        </div>
    </div>
</div>

<div id="modalAnonymise" class="ui modal">
    <div class="content">
        <div class="ui visible error message">
            <h3>Anonymising your account will also delete your account!</h3>
            <p>
                Under GDPR, you have the right to request that we delete all personal data we 
                currently contain about you.
            </p>
            <p>
                This action will also disable your account. Your username can be re-registered though, as we also
                anonymise that.
            </p>
            <p>
                By pressing 'Ok' an email will be sent to all emails under your contact information. If the link
                in this email is clicked, the process to anonymise your account will begin.
            </p>
            <p>
                <strong>
                    Are you really sure you want to do this?
                </strong>
            </p>
        </div>
        <div class="ui inline fluid labeled input">
            <input id="inputAnonymisePassword" type="password" placeholder="Confirm Password" />
        </div>
    </div>
    <div class="actions">
        <div class="ui secondary cancel button">
            Cancel
        </div>
        <div class="ui red ok button">
            Ok
        </div>
    </div>
</div>

<div id="modalAnonymiseError" class="ui modal">
    <div class="content">
        <div class="ui visible error message">
            <h3>Unable to confirm anonymisation request</h3>
            <p class="reason">
                Javascript will fill this with the error.
            </p>
        </div>
    </div>
    <div class="actions">
        <div class="ui primary ok button">
            Ok
        </div>
    </div>
</div>

@*_GenericEditorLayout was *supposed* to be for editor pages, but it works so well for the general case as well*@
<section class="editor section">
    <section>
        <h4>Account Management</h4>
        <div class="content">
            <div class="field">
                <a id="btnDownload" class="ui primary button" asp-action="DownloadMyData" download="farm_master.json">
                    Download My Data
                </a>
            </div>
            <div class="top padded items field">
                <button id="btnAnonymise" class="ui red button">
                    Anonymise My Data - DELETES ACCOUNT
                </button>
            </div>
        </div>
    </section>
</section>

@section Scripts  {
    <script type="module">
        import { Modal, FarmAjax, FarmAjaxMessageType } from "/js/index.js";

        document.getElementById("btnDownload").addEventListener("click", () => Modal.show("modalDownload"));

        document
            .getElementById("btnAnonymise")
            .addEventListener("click", () => {
                Modal
                    .show("modalAnonymise")
                    .then(() => {
                        sendAnonymiseEmail();
                    })
            });

        function sendAnonymiseEmail() {
            const inputPassword = document.getElementById("inputAnonymisePassword");

            FarmAjax.postWithMessageResponse(
                "/Ajax/Account_BySession_SendAnonymiseRequest_VerifyByPassword",
                {
                    password: inputPassword.value
                },
                r => {
                    inputPassword.value = "";

                    if (r.messageType !== FarmAjaxMessageType.Information) {
                        const divReason = document.getElementById("modalAnonymiseError").querySelector(".reason");
                        divReason.innerText = r.message;

                        Modal.show("modalAnonymiseError");
                        return;
                    }
                }
            );
        }
    </script>
}