@model AccountRegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div id="app">
    <window title="Register">
        <form method="post" asp-action="Register">
            <div class="input-wrapper">
                <label>Email</label>
                <textbox asp-for="Email" placeholder="andy@goatfarmers.co.uk"></textbox>
            </div>
            <div class="input-wrapper">
                <label>Username</label>
                <textbox asp-for="Username" placeholder="Username"></textbox>
            </div>
            <div class="input-wrapper">
                <label>Password</label>
                <textbox asp-for="Password" type="password" placeholder="Password"></textbox>
            </div>
            <div class="input-wrapper">
                <label>Confirm Password</label>
                <textbox asp-for="ConfirmPassword" type="password" placeholder="Confirm Password"></textbox>
            </div>
            <alert asp-for-error="true">
                <header>Error creating account</header>
            </alert>
            <a class="top padded" href="/Account/Login">
                Already have an account?
            </a>
            <button class="top margined fluid blue" type="submit">Register</button>
        </form>
    </window>
</div>

@section Scripts {
    <script>
        new Vue({
            el: "#app"
        });
    </script>
}