@model AccountResendEmailViewModel
@{
    ViewData["Title"] = "Resend email";
}

<div id="app">
    <window title="Finalise account">
        <form method="post" asp-action="ResendEmail">
            <div class="input-wrapper">
                <label>Email</label>
                <textbox asp-for="Email" placeholder="andy@goatfarmers.co.uk"></textbox>
            </div>
            <alert asp-for-error="true">
                <header>Error resending email confirmation</header>
            </alert>
            <button class="top margined fluid blue" type="submit">Resend confirmation</button>
        </form>
    </window>
</div>

@section Scripts {
    <script>
        new Vue({
            el: "#app"
        });
    </script>
}