@model AccountResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    ViewData["WhichPage"] = String.Empty;
    Layout = "_LoginFormLayout";
}

<partial name="_ViewModelWithMessagePartial" model="@Model" />

<h4 style="display: flex;">
    Reset Password
</h4>
<div class="bottom one padded"></div>

<form class="ui form" asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />

    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input asp-for="Password" placeholder="Password" autocomplete="off" />
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input asp-for="PasswordConfirm" placeholder="Confirm Password" autocomplete="off" />
        </div>
    </div>

    <button class="ui large primary fluid button" type="submit">Reset Password</button>
</form>

@section Scripts {
    <script type="module">
        import { Validation } from "/js/index.js";
        Validation.hookupForm(document.querySelector(".ui.form"));
    </script>
}