.input-wrapper {
    display: flex;
    width: 100%;

    & + * {
        padding-top: 1em;
    }

    label {
        display: flex;
        font-weight: bold;
        font-size: 15px;
    }

    &.inline {
        $LABEL_WIDTH: 10%;
        $INPUT_WIDTH: 100% - $LABEL_WIDTH;
    
        label {
            flex-direction: column;
            align-self: center;
            min-width: $LABEL_WIDTH;
        }

        label + input, label + .input {
            display: flex;
            flex-direction: column;
            width: $INPUT_WIDTH;
        }
    }

    &:not(.inline) {
        flex-wrap: wrap;

        label {
            flex-direction: row;
            width: 100%;

            & + * {
                margin-top: 1em;
            }
        }

        label + input, label + .input {
            display: flex;
            width: 100%;
        }
    }
}

button {
    height: 40px;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 85%);
    cursor: pointer;
    transition: background-color ease .25s;
    color: hsl(0, 0%, 25%);
    font-weight: bold;
    font-family: Roboto, sans-serif;

    &:hover {
        background-color: hsl(0, 0%, 80%);
        color: hsl(0, 0%, 20%);
    }

    &:active {
        background-color: hsl(0, 0%, 75%);
        color: hsl(0, 0%, 15%);
    }

    // Get rid of the dotted border Firefox decides to add.
    &:focus, &::-moz-focus-inner {
        outline: none;
        border: 0;
    }
}