.input-wrapper {
    display: flex;
    width: 100%;

    & + & {
        padding-top: 1em;
    }

    label {
        display: flex;
        font-weight: bold;
        font-size: 15px;
    }

    &.inline {
        $LABEL_WIDTH: 10%;
        $INPUT_WIDTH: 100% - $LABEL_WIDTH;
    
        label {
            flex-direction: column;
            align-self: center;
            min-width: $LABEL_WIDTH;
        }

        label + input, label + .input {
            display: flex;
            flex-direction: column;
            width: $INPUT_WIDTH;
        }
    }

    &:not(.inline) {
        flex-wrap: wrap;

        label {
            flex-direction: row;
            width: 100%;

            & + * {
                margin-top: 1em;
            }
        }

        label + input, label + .input {
            display: flex;
            width: 100%;
        }
    }
}

button {
    @mixin buttonColour($hue, $saturation) {
        background-color: hsl($hue, $saturation, 85%);
        color: hsl($hue, $saturation, 25%);
        
        &:not(:disabled) {
            &:hover {
                background-color: hsl($hue, $saturation, 80%);
                color: hsl($hue, $saturation, 20%);
            }
        
            &:active {
                background-color: hsl($hue, $saturation, 75%);
                color: hsl($hue, $saturation, 15%);
            }
        }
    
        &:disabled {
            background-color: hsl($hue, $saturation, 88%);
            color: hsl($hue, $saturation, 50%);
        }
    }

    height: 40px;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color ease .25s;
    font-weight: bold;
    font-family: Roboto, sans-serif;

    // Get rid of the dotted border Firefox decides to add.
    &:focus, &::-moz-focus-inner {
        outline: none;
        border: 0;
    }

    &:disabled {
        cursor: auto;
    }

    @include buttonColour(0, 0%);
    &.blue {
        @include buttonColour(216, 52%);
    }
}

.top.margined {
    margin-top: 1em;
}