section.header.editor {
    $textColour: rgba(162,159,224,1);
    background: linear-gradient(to right, rgba(162,159,224,1) 0%, rgba(188,175,228,1) 35%, rgba(188,175,228,1) 54%, rgba(216,208,239,1) 100%);
    display: flex;
    flex-direction: column;
    height: 80px;
    margin-bottom: 0;
    border-radius: 3px;

    h1 {
        padding-top: 0.2em;
        padding-left: 0.4em;
        margin-bottom: 0.075em;
        color: darken($textColour, 35%);
    }

    div.breadcrumb {
        display: inline-flex;
        padding-left: 0.8em;
        font-size: 16px;

        a.section {
            color: darken($textColour, 30%);
            letter-spacing: 0.018em;

            &.active {
                color: darken($textColour, 25%);
                font-weight: bold;
            }
        }

        div.divider {
            padding-left: 0.3em;
            padding-right: 0.3em;
            font-weight: bold;
            color: darken(darkgray, 20%);
        }
    }
}

.editor.section {
    display: flex;
    flex-direction: column;

    & > section, & > form > section {
        display: flex;
        flex-direction: column;
        background: white;

        h4 {
            padding-top: 0.8em;
            padding-left: 0.8em;
            padding-bottom: 1.5em;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 0.03em;
        }

        div.header.with.question {
            display: inline-flex;

            button {
                margin-top: 0.8em;
                margin-left: 0.4em;
                width: 50px;
                height: 25px;
                font-size: 18px;
                border-radius: 20px;
                background-color: dodgerblue;
                color: lightblue;
                line-height: 1.35;
                cursor: pointer;
            }
        }

        div.content, div.content > div.sub.content {
            display: flex;
            flex-direction: column;
            padding-left: 1em;
            padding-bottom: 1em;
            padding-right: 1em;

            div.top.padded.items {
                padding-top: 1em;
            }

            div.table.action.section {
                display: inline-flex;
                width: 100%;

                &.inline.action.with.two.inputs {
                    div.field {
                        width: 33%;
                        margin: 0;
                        margin-right: 30px;

                        div.selection {
                            width: 100%;
                        }
                    }

                    button {
                        align-self: end;
                        width: 33%;
                        height: 43.13333px;
                        margin: 0;
                    }
                }
            }

            div.sub.content {
                h5 {
                    padding-top: 0.8em;
                    padding-bottom: 1.5em;
                    margin-bottom: 0;
                    font-weight: bold;
                    font-size: 16px;
                    letter-spacing: 0.03em;
                }
            }

            &.dark.striped {
                background-color: hsl(0, 0%, 86%);
                &:nth-of-type(even) {
                    background-color: hsl(0, 0%, 80%);
                }
            }

            // SPECIFIC STYLING FOR CERTAIN EDITOR PAGES
            div.holding {
                &.registration {
                    display: inline-flex;
                    width: 100%;

                    div.field {
                        display: flex;
                        align-self: center;
                        width: 40%;
                        margin: 1em 1em 0em 1em;

                        &:nth-child(1) {
                            width: 20%;
                        }
                    }
                }
            }
            // END SPECIFIC STYLING
        }

        &:nth-of-type(even) {
            background-color: hsl(0, 0%, 92%);
        }
    }

    thead {
        tr.two.columns {
            th:not(:first-child) {
                width: 50%;
            }
        }

        tr.three.columns {
            th:not(:first-child) {
                width: 33.33333%;
            }
        }
    }

    th.editor.action {
        width: 0px; // Use only the needed amount of space that the button takes up.
    }
}