@model AdminManageUserViewModel
@{
    ViewData["Title"] = $"Manage {Model.Username}";
    ViewData["NavName"] = "Users";
    ViewData["Breadcrumb"] = new Breadcrumb()
        .Add("Admin", "#")
        .Add("Users", "/Admin/User/Users")
        .Add(Model.Username, "#");
}

<div id="app">
    <window title="User info">
        <button class="bottom margined blue"
                @@click="onToggleMode">
            {{ editButton.text }}
        </button>

        @if(Model.ShowDeleteButton)
        {
            <confirm-button class="left margined red"
                            prompt="Delete User"
                            confirm="Are you sure? THIS CANNOT BE UNDONE!"
                            @@click="onDeleteUser">
            </confirm-button>
        }

        <form method="post" asp-action="ManageUser">
            <input type="hidden" asp-for="ShowDeleteButton" />
            <input type="hidden" asp-for="Id" />

            <div class="input-wrapper">
                <label>Username</label>
                <textbox :mode="mode" asp-for="Username"></textbox>
            </div>
            <div class="input-wrapper">
                <label>Email</label>
                <textbox :mode="mode" asp-for="Email" name="ReadonlyEmail" disabled></textbox>
                <input type="hidden" asp-for="Email" /> <!--Disabled inputs don't send their value, but we want to keep it for display reasons-->
            </div>
            <div class="input-wrapper"
                 v-if="mode === 'edit'">
                <label>Current Password</label>
                <textbox :mode="mode" asp-for="CurrentPassword" type="password"></textbox>
            </div>
            <div class="input-wrapper"
                 v-if="mode === 'edit'">
                <label>New Password</label>
                <textbox :mode="mode" asp-for="Password" type="password"></textbox>
            </div>
            <div class="input-wrapper"
                 v-if="mode === 'edit'">
                <label>Confirm Password</label>
                <textbox :mode="mode" asp-for="ConfirmPassword" type="password"></textbox>
            </div>
            <alert type="error" fm-model-error="true">
                <header>Error when updating user</header>
            </alert>
            <button class="top margined fluid blue"
                    v-if="mode === 'edit'">
                Update user
            </button>
        </form>
    </window>

    <window title="Permissions">
        <editor-perms :mode="mode"
                      username="@Model.Username"
                      @@on-valid-update="onValidPermissionUpdate">
        </editor-perms>
    </window>
</div>

@section Scripts {
    <script>
        new Vue({
            el: "#app",

            data: {
                mode: "view",

                editButton: {
                    text: "Edit"
                }
            },

            methods: {
                onToggleMode() {
                    this.mode = (this.mode === "view") ? "edit" : "view";
                    this.editButton.text = (this.mode === "view") ? "Edit" : "View";
                },

                onValidPermissionUpdate() {
                    this.onToggleMode();
                },

                onDeleteUser() {
                    document.location = "/Admin/DeleteUser?userId=@Model.Id";
                }
            }
        });
    </script>
}