@model IEnumerable<Contact>
@{
    Layout = null;
}

@foreach (var contact in Model.ToList())
{
    <tr>
        <td>@contact.ShortName</td>
        <td>@contact.ContactType</td>
        <td class="ui two compact buttons">
            <button class="ui inverted tiny secondary left button" onclick="showEditModal(@contact.ContactId)">
                Edit
            </button>
            <div class="or divide hide mobile"></div>
            <button class="ui inverted tiny secondary right button" onclick="showDeleteModal(@contact.ContactId)">
                Delete
            </button>
        </td>
    </tr>
}