@model ContactIndexViewModel
@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Contacts";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Home", "/Home/Index" },
        { "Contacts", "/Contact/Index" }
    };
}

<section id="modalReason" class="ui modal">
    <section class="content">
        <section class="ui visible warning message">
            <p class="ui header">Warning!</p>
            <p>
                Accessing the contact information of a user or individual will fire off an email alerting them to
                your action. This is to deter people from mis-using their permissions to view data they shouldn't.
            </p>
        </section>
        <h4>Reason</h4>
        <div class="ui labeled fluid input">
            <input id="txtReasonForEdit" placeholder="Reason for edit" />
            <div class="ui corner label">
                <i class="asterisk icon"></i>
            </div>
        </div>
    </section>
    <section class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive button">
            Continue
        </div>
    </section>
</section>

<section id="modalConfirm" class="ui modal">
    <section class="content">
        <section class="ui visible error message">
            <p class="ui header">Are you sure?</p>
            <p>
                This action cannot be undone. Are you sure you want to delete this contact?
            </p>
        </section>
    </section>
    <section class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive button">
            Continue
        </div>
    </section>
</section>

<section class="editor section">
    <section>
        <partial name="_ViewModelWithMessagePartial" model="@Model" />

        <div class="content">
            <div class="top padded items">
                <a class="ui primary button" asp-action="Create">
                    Create New Contact
                </a>
            </div>

            <vc:paged-table table-id="tableIndex"
                            headers="Name,Type"
                            page-name="contacts"
                            controller="Contact"
                            action-delete="Delete"
                            action-edit="Edit"/>
        </div>

        <section id="boxError" class="ui error message transition hidden">
        </section>
    </section>
</section>

@section Scripts {
    <script type="module">
        import { PagedTable } from "/js/index.js"

        function showEditModal(contactId) {
            $("#modalReason")
                .modal({
                    onApprove: function () {
                        let reasonForEdit = document.querySelector("#txtReasonForEdit").value;
                        window.location = "/Contact/Edit/" + contactId + "?reason=" + reasonForEdit;
                    }
                })
                .modal('show');
        }

        function showDeleteModal(contactId) {
            $("#modalConfirm")
                .modal({
                    onApprove: function () {
                        window.location = "/Contact/Delete/" + contactId;
                    }
                })
                .modal('show');
        }

        new PagedTable(
            "tableIndex",
            `query GetContacts($skip: Int, $take: Int) {
                contacts(skip: $skip, take: $take) {
                    id
                    name
                    type
                }
            }`,
            data => data.contacts.map(c => { return { id: c.id, items: [c.name, c.type] }; }),
            (id, _, __, ___, btnEdit, btnDelete) => {
                btnEdit.addEventListener("click", () => showEditModal(id));
                btnDelete.addEventListener("click", () => showDeleteModal(id));
            }
        );
    </script>
}