
@{
    ViewData["Title"] = "Index";
    ViewData["NavName"] = "Contacts";
}

<div id="app">
    <window title="Contacts">
        <a class="bottom margined icon blue button">
            <i class="las la-plus"></i>
            <span>Create new contact</span>
        </a>
        <button class="bottom margined icon blue left margined">
            <i class="las la-plus"></i>
            <span>Create new contact</span>
        </button>
        <fm-value-table selection="none"
                        :rows="rows"
                        :values="values">

        </fm-value-table>
    </window>
</div>

@section Scripts {
    <script>
        new Vue({
            el: "#app",
            data: {
                rows: [
                    { name: "Name", bind: "name", sort: true },
                    { name: "Type", bind: "type", sort: true }
                ],
                values: [
                ]
            }
        });
    </script>
}