<section id="@GlobalConstants.IdModalAreYouSure" class="ui modal">
    <section class="content">
        <section class="ui visible warning message">
            <h1>Are you sure that you want to perform this action?</h1>
            <p>This action cannot be undone.</p>
        </section>
    </section>
    <section class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive button">
            Continue
        </div>
    </section>
</section>