<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FarmMaster</title>

    <!--External Style sheets-->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/fomantic-ui/semantic.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/fomantic-ui/semantic.min.css" />
    </environment>

    <!--Custom Style sheets-->
    <link rel="stylesheet" href="~/css/site.css" />
</head>