<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FarmMaster</title>

    <!--External Style sheets-->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/fomantic-ui/semantic.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/fomantic-ui/semantic.min.css" />
    </environment>

    <!--External JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>

    <!--Custom Style sheets-->
    <link rel="stylesheet" href="~/css/site.css" />
</head>