<!DOCTYPE html>
<html>
<partial name="_LayoutCommonHeadPartial" />
<body>
    <partial name="_NavbarPartial" />

    <main role="main" class="ui center aligned grid">
        <div class="fifteen wide mobile fifteen wide computer ten wide large screen column">
            @RenderBody()
        </div>
    </main>

    <div class="ui inverted divider"></div>

    <footer>
        <div class="ui centered grid">
            <p class="eight wide column right aligned">
                &copy; 2019 - AimEducational
            </p>
        </div>
    </footer>

    <partial name="_LayoutCommonJavascriptPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
