<!DOCTYPE html>
<html>
<partial name="_LayoutCommonHeadPartial" />
<body>
    <partial name="_NavbarPartial" />

    <main role="main" class="ui grid">
        <div class="one wide mobile one wide computer three wide large screen column"></div>
        <div class="fourteen wide mobile fourteen wide computer ten wide large screen column">
            @RenderBody()
        </div>
        <div class="one wide mobile one wide computer three wide large screen column"></div>
    </main>

    <footer>
        <div class="ui inverted divider"></div>
        <div class="ui centered grid" style="background-color: white;">
            <p class="ten wide column right aligned">
                &copy; 2019 - AimEducational
            </p>
        </div>
    </footer>

    <partial name="_LayoutCommonJavascriptPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
