<nav class="ui stackable top menu inverted">
    <!--Brand-->
    <a class="header item" href="/">FarmMaster</a>

    <!--Left-hand side-->
    <a class="left link item" asp-controller="Home" asp-action="Index">Home</a>

    <!--Right-hand side-->
    <div class="header right item">
        <a class="ui inverted yellow button" asp-controller="Account" asp-action="Logout">Logout</a>
    </div>
</nav>