@model ViewModelWithMessage

@{
    string messageClassType = "";

    switch(Model?.MessageType ?? ViewModelWithMessage.Type.None)
    {
        case ViewModelWithMessage.Type.Error:
            messageClassType = "visible error";
            break;

        case ViewModelWithMessage.Type.Information:
            messageClassType = "visible info";
            break;

        case ViewModelWithMessage.Type.Warning:
            messageClassType = "visible warning";
            break;

        default:
            messageClassType = "transition hidden";
            break;
    }
}

@if(Model?.HasMessage ?? false)
{
<section class="ui @messageClassType message">
    @foreach(var split in Model?.Message.Split('\n', StringSplitOptions.RemoveEmptyEntries))
    {
        <p>
            @split
        </p>
    }
</section>
}