@model ViewModelWithMessage

@{
    string messageClassType = "";

    switch(Model?.MessageType ?? ViewModelWithMessage.Type.None)
    {
        case ViewModelWithMessage.Type.Error:
            messageClassType = "visible error";
            break;

        case ViewModelWithMessage.Type.Information:
            messageClassType = "visible info";
            break;

        case ViewModelWithMessage.Type.Warning:
            messageClassType = "visible warning";
            break;

        default:
            messageClassType = "transition hidden";
            break;
    }
}

@if(Model?.HasMessage ?? false)
{
    var lines = Model.Message.Split('\n', StringSplitOptions.RemoveEmptyEntries);

    <section class="ui @messageClassType message">
        @if(Model.MessageFormat == ViewModelWithMessage.Format.Default)
        {
            @foreach(var line in lines)
            {
                <p>
                    @line
                </p>
            }
        }
        else if(Model.MessageFormat == ViewModelWithMessage.Format.UnorderedList)
        {
            <ul>
                @foreach(var line in lines)
                {
                    <li>@line</li>
                }
            </ul>
        }
    </section>
}