@model (string callback, string contactName)
@{
    ViewData["Title"] = "AnonymisationRequest";
    Layout = "_EmailLayout";
}

<h1>A request to anonymise a contact/user has been made.</h1>

<p>
    This email has been sent to all emails that are registered for the contact/user '@Model.contactName'.
</p>
<p>
    By clicking the following link, you will be confirming the request for the data for this contact/user to 
    be anonymised: <a href="@Model.callback">@Model.callback</a>
</p>
<p>
    This link will expire 24 hours after creation, so if you do not desire to go through with this action, please
    just ignore the link.
</p>