@model EmailContactEditAlertViewModel
@{
    Layout = "_EmailLayout";
}

<h3>A user with permission to edit contacts has decided to view/modify your contact information.</h3>

<p>
    The user @Model.Who has viewed/modified your contact information. They have given this reason:
</p>
<p>
    <strong>@Model.Why</strong>
</p>

<h3>Why am I getting this email?</h3>
<p>
    To detect potential misuse of your data, as well as to be transparent on when possibly sensitive data is accessed with or without your
    knowledge, this email is sent anytime your contact information is edit/viewed by someone with the appropriate permissions.
</p>
<p>
    If you wish to opt-out of these emails, please click this link: TODO
</p>