@model (string callback, string username)
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_EmailLayout";
}

<h1>A request to reset your password has been made.</h1>

<p>
    This email has been sent to only this specific email for the user '@Model.username'.
</p>
<p>
    By clicking the following link, you will be taken to a page to reset your password: <a href="@Model.callback">@Model.callback</a>
</p>
<p>
    This link will expire 2 hours after creation, so if you do not desire to go through with this action, please
    just ignore the link.
</p>