@model LifeEventCreateViewModel
@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Create a life event";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Home", "/Home/Index" },
        { "Life Events", "/LifeEvent/Index" },
        { "Create", "/LifeEvent/Create" }
    };
}

<section class="editor section">
    <section>
        <partial name="_ViewModelWithMessagePartial" model="@Model" />

        <h4>General Information</h4>
        <div class="content">
            <form class="ui form" method="post" asp-action="Create">
                <div class="field">
                    <label>Name</label>
                    <input asp-for="Name" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Description</label>
                    <input asp-for="Description" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Target</label>
                    <div class="ui search selection dropdown">
                        <input type="hidden" asp-for="Target" />
                        <i class="dropdown icon"></i>
                        <div class="text"></div>
                        <div class="menu">
                            <div class="item">@LifeEvent.TargetType.Animal</div>
                        </div>
                    </div>
                </div>
                <div class="ui info message transition visible">
                    Further configuration can be done once the Life Event is created.
                </div>

                <button class="ui primary fluid button" type="submit">
                    Create Life Event
                </button>

                <div asp-validation-summary="All"></div>
            </form>
        </div>
    </section>
</section>

@section Scripts {
    <script type="module">
        import { Validation } from "/js/index.js";
        $(".ui.dropdown").dropdown();
        Validation.hookupForm(document.querySelector(".ui.form"));
    </script>
}