@model LifeEventEditViewModel
@{
    ViewData["Title"] = "Edit - Life Event";
    ViewData["Breadcrumb"] = new[]
    {
        "Home:/Home/Index",
        "Contacts:/LifeEvent/Index",
        "Edit:/LifeEvent/Edit"
    };
}

<h1>Edit</h1>

<partial name="_ViewModelWithMessagePartial" model="@Model" />

<form class="ui form" method="post" asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <section class="ui top attached header">
        General Information
    </section>
    <section class="ui attached segment">
        <div class="field">
            <label>Name</label>
            <input asp-for="Name" autocomplete="off" />
            <span class="@GlobalConstants.FormErrorClasses" asp-validation-for="Name"></span>
        </div>
        <div class="field">
            <label>Description</label>
            <input asp-for="Description" autocomplete="off" />
            <span class="@GlobalConstants.FormErrorClasses" asp-validation-for="Description"></span>
        </div>
    </section>
    <section class="ui bottom attached segment">
        <button class="ui primary fluid button" type="submit">
            Edit Life Event
        </button>
    </section>
</form>