@model LifeEventIndexViewModel
@{
    Layout = "_GenericEditorLayout";
    ViewData["Title"] = "Life Events";
    ViewData["Breadcrumb"] = new Dictionary<string, string>
    {
        { "Home", "/Home/Index" },
        { "Life Events", "/LifeEvent/Index" }
    };
}

<partial name="_ModalAreYouSure_NoUndo" />

<section class="editor section">
    <section>
        <partial name="_ViewModelWithMessagePartial" model="@Model" />
        <div class="content">
            <div class="top padded items">
                <a class="ui primary button" asp-action="Create">
                    Create New Life Event
                </a>
            </div>
            <vc:paged-table table-id="tableIndex"
                            headers="Name,Description"
                            page-name="lifeEvents"
                            controller="LifeEvent"
                            action-delete="Delete"
                            action-edit="Edit" />
        </div>
    </section>
</section>

@section Scripts {
    <script type="module">
        import { Modal, PagedTable } from "/js/index.js";

        function showDeleteModal(id) {
            Modal.askAreYouSure()
                 .then(() => document.location = "/LifeEvent/Delete/" + id);
        }
        window.showDeleteModal = showDeleteModal;

        new PagedTable(
            "tableIndex",
            `query Get($skip: Int, $take: Int) {
                    lifeEvents(skip: $skip, take: $take) {
                        id
                        name
                        description
                    }
                }`,
            data => data.lifeEvents.map(e => { return { id: e.id, items: [e.name, e.description] }; }),
            (id, c, actEdit, ___, buttonEdit, buttonDelete) => {
                buttonDelete.onclick = () => showDeleteModal(id);
                buttonEdit.href = `/${c}/${actEdit}/${id}`;
            }
        );
    </script>
}