@model CrudIndexViewModel<Species>
@{
    ViewData["Title"] = "Species";
    ViewData["NavName"] = "Species";
    ViewData["Breadcrumb"] = (new Breadcrumb()).Add("Species", "/Species");
}

<div id="app">
    <window title="Species">
        <a class="bottom margined icon blue button" asp-action="Create">
            <i class="las la-plus"></i>
            <span>Create new species</span>
        </a>
        <fm-graphql-table selection="none"
                          :rows="[{name: 'Name', bind: 'name', sort: true, sortByDefault: 'asc'}]"
                          query-root="specieses"
                          items-query="id name"
                          @@transformhook="onTransformTable">
        </fm-graphql-table>
    </window>
</div>

@section Scripts {
    <script>
        new Vue({
            el: "#app",
            methods: {
                onTransformTable(items) {
                    for (const item of items) {
                        item.name = { value: item.name, href: "/Species/Edit?id=" + item.id };
                    }
                }
            }
        });
    </script>
}