@model AnimalGroupScriptEditorViewModel

<!--Common between modes-->
<script type="module">
    // Tabbing function.
    function swapToContainer(containerId) {
        const container = document.getElementById(containerId);
        for (const otherContainer of container.parentNode.querySelectorAll("div.tab.container"))
            otherContainer.classList.add("hidden");

        container.classList.remove("hidden");

        const button = document.getElementById(container.dataset.button);
        for (const otherButton of button.parentNode.parentNode.querySelectorAll("div.tab.active"))
            otherButton.classList.remove("active");

        button.parentNode.classList.add("active");
    }
    window._gs_swapToContainer = swapToContainer;

    // Tabbing function.
    function setupTabButton(buttonId, containerId) {
        const button = document.getElementById(buttonId);
        const container = document.getElementById(containerId);
        container.dataset.button = buttonId;

        button.addEventListener("click", () => {
            swapToContainer(containerId);
        });
    }
    window._gs_setupTabeButton = setupTabButton;

    // Results function.
    function addAnimalCard(animalGrid, idNameImageId) {
        const animalCard = animalGrid.appendChild(document.createElement("div"));
        animalCard.classList.add("animal", "card");
        {
            const a = animalCard.appendChild(document.createElement("a"));
            a.href = "/Animal/Edit/" + idNameImageId.id;
            a.target = "_blank";
            {
                const uiCard = a.appendChild(document.createElement("div"));
                uiCard.classList.add("ui", "card");
                {
                    const image = uiCard.appendChild(document.createElement("div"));
                    image.classList.add("image");
                    {
                        const img = image.appendChild(document.createElement("img"));
                        img.src = "/Image/Get?imageId=" + idNameImageId.imageId + "&width=664&height=700";
                    }

                    const content = uiCard.appendChild(document.createElement("div"));
                    content.classList.add("content");
                    {
                        const header = content.appendChild(document.createElement("div"));
                        header.classList.add("header");
                        header.innerText = idNameImageId.name;
                    }
                }
            }
        }
    }
    window._gs_addAnimalCard = addAnimalCard;
</script>

@if(Model is AnimalGroupScriptEditorSingleUseViewModel singleUseModel)
{
    <section class="tabbed">
        <div class="tabs">
            <div class="tab active">
                <button id="buttonGroupScriptCode" class="ui button">Code</button>
            </div>
            <div class="tab">
                <button id="buttonGroupScriptResults" class="ui button">Results</button>
            </div>
            <div class="tab">
            </div>
            <div class="tab">
            </div>
        </div>
        <div id="tabGroupScriptCode" class="tab container">
            <div class="ui warning message">
                NOTE: This is a <strong>single use</strong> script. All code in the textbox below should act like it is inside of a 
                ROUTINE block. The NAME and PARAMETERS blocks are handled automatically.
            </div>
            <textarea id="codeGroupScript" class="code" rows="10"></textarea>
            <div id="errorGroupScript" class="ui error message transition hidden"></div>
            <div class="top padded items"></div>
            <button id="buttonExecuteGroupScript" class="ui primary button">Preview Results</button>
        </div>
        <div id="tabGroupScriptResults" class="tab container hidden">
            <button id="buttonConfirmGroupScriptResults" class="ui primary button">Add listed animals to group</button>
            <div class="top padded items"></div>
            <div class="animal card three grid">

            </div>
        </div>
    </section>

    <!--Tab controls-->
    <script type="module">
        _gs_setupTabButton("buttonGroupScriptCode", "tabGroupScriptCode");
        _gs_setupTabButton("buttonGroupScriptResults", "tabGroupScriptResults");
    </script>

    <!--Execution-->
    <script type="module">
        import { FarmAjax, FarmAjaxMessageType } from "/js/index.js";

        function getRawCode() {
            var code = document.getElementById("codeGroupScript").value;
            code = "NAME automatico PARAMETERS END ROUTINE \n" + code + "\n END";

            return code;
        }
        window._gs_getRawCode = getRawCode;

        document.getElementById("buttonExecuteGroupScript").onclick = () => {
            document.getElementById("errorGroupScript").classList.remove("visible");

            const code = getRawCode();
            FarmAjax.postWithMessageAndValueResponse(
                "/Ajax/AnimalGroup_ById_Script_ExecuteSingleUse_AsNameIdImageId",
                {
                    id: @singleUseModel.GroupId,
                    value: code
                },
                rv => {
                    if (rv.messageType !== FarmAjaxMessageType.Information) {
                        rv.populateMessageBox(document.getElementById("errorGroupScript"));
                        return;
                    }

                    const animalGrid = document.getElementById("tabGroupScriptResults").querySelector("div.animal.card.three.grid");
                    animalGrid.innerHTML = "";
                    for (const idNameImageId of rv.value)
                        _gs_addAnimalCard(animalGrid, idNameImageId);

                    _gs_swapToContainer("tabGroupScriptResults");
                }
            );
        }
    </script>

    <!--Results-->
    <script type="module">
        import { FarmAjax, FarmAjaxMessageType } from "/js/index.js";

        const button = document.getElementById("buttonConfirmGroupScriptResults");
        button.addEventListener("click", () => {
            const animalGrid = document.getElementById("tabGroupScriptResults").querySelector("div.animal.card.three.grid");

            FarmAjax.postWithMessageResponse(
                "/Ajax/AnimalGroup_ById_Script_ExecuteSingleUse_AddAll",
                {
                    id: @singleUseModel.GroupId,
                    value: _gs_getRawCode()
                },
                r => {
                    if (r.messageType !== FarmAjaxMessageType.Information) {
                        r.populateMessageBox(document.getElementById("errorGroupScript"));
                        return;
                    }

                    const newAnimalGrid = document.getElementById("@singleUseModel.AnimalGridId");
                    while (animalGrid.childNodes.length > 0)
                        newAnimalGrid.appendChild(animalGrid.childNodes.item(0));
                }
            );
        });
    </script>
}
else if(Model is AnimalGroupScriptEditorCreateEditViewModel createEditModel)
{
    <section class="tabbed">
        <div class="tabs">
            <div class="tab active">
                <button id="buttonGroupScriptCode" class="ui button">Code</button>
            </div>
            <div class="tab">
            </div>
            <div class="tab">
            </div>
            <div class="tab">
            </div>
        </div>
        <div id="tabGroupScriptCode" class="tab container">
            <div class="ui warning message">
                NOTE: A more user-friendly interface will come a bit later on.
            </div>
            <textarea id="codeGroupScript" class="code" rows="10"></textarea>
            <div id="errorGroupScript" class="ui error message transition hidden"></div>

            <div class="top padded items"></div>
            <button id="buttonGroupScriptCreate" class="ui primary button">Create</button>
        </div>
    </section>

    <!--Tab controls-->
    <script type="module">
        _gs_setupTabButton("buttonGroupScriptCode", "tabGroupScriptCode");
    </script>

    <!--Create/Edit-->
    <script type="module">
        import { FarmAjax, FarmAjaxMessageType } from "/js/index.js";

        function getCode() {
            return document.getElementById("codeGroupScript").value;
        }

        const buttonCreate = document.getElementById("buttonGroupScriptCreate");
        buttonCreate.addEventListener("click", () => {
            FarmAjax.postWithMessageAndValueResponse(
                "/Ajax/AnimalGroup_Script_CreateAndCompile_AsId",
                {
                    id: -1, // Dummy, unused, and too lazy to make yet another AJAX class.
                    value: getCode()
                },
                rv => { // Returned ID isn't used yet.
                    rv.populateMessageBox(document.getElementById("errorGroupScript"));
                }
            );
        });
    </script>
}