<section id="@GlobalConstants.IdModalContactActionReason" class="ui modal">
    <section class="content">
        <section class="ui visible warning message">
            <p class="ui header">Your action will be logged!</p>
            <p>
                Performing any action on the information of a contact will be logged, and at some point
                today it will be emailed to all emails assigned to this contact!
            </p>
            <p>
                This is to prevent data mis-use, catch errors, and comply with being fully transparent about how
                a contact's data is handled. (Helpful for GDPR)
            </p>
            <p>
                Please provide a reason in the below text box for the action you're performing.
            </p>
        </section>

        <h4>Reason</h4>
        <div class="ui fluid input">
            <input placeholder="Reason for action" />
        </div>
    </section>
    <section class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive button">
            Continue
        </div>
    </section>
</section>